//- include head.pug
//- body
  //- div(class='shadow' id='parent-container')
div( id='nav-container') 
  -for(let index in buttons)
    button(class="nav-child")
      a(href= buttons[index].link) #{buttons[index].buttonText}
div(id='display-container')
  div(class='display-card-container') 
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
  div(class='display-card-container') 
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
  div(class='display-card-container') 
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
  