//- include head.pug
//- body
  //- div(class='shadow' id='parent-container')
div( id='nav-container') 
  button(class='nav-child') Profile
  button(class='nav-child') Reports
  button(class='nav-child') Menu
div(id='display-container')
  div(class='display-card-container') 
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
  div(class='display-card-container') 
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
  div(class='display-card-container') 
    div(class='display-card-child')
      p child
    div(class='display-card-child')
      p child
  