doctype html
html(land='en')
  include head.pug
body
  div(class="content")
    include header.pug
  div(class="card main-display shadow flex-row")
    include main-display.pug
  include footer.pug
   
