doctype html
html(land='en')
  include head.pug
body
  div(class="content")
    div(class="card heading justify-center color") 
      include sowLogo.pug
        span(class="heading-text") #{heading}
    div(class="card main-display flex-col")
div(class="card footer justify-center color")
  span #{foot}
   