<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>New CSS Layout - SŌW Plated App</title>
  <link rel='stylesheet' href='style.css' type='text/css'/>
</head>
<body>
<div class="content">
  <div class='card heading justify-center color'> Heading </div>
  <div class="card main-display flex-col"> 
    <div class="card shadow color"></div>
    <div class="card"></div>
  </div>
</div>
  <div class='card footer'>.card footer</div>
</body>
</html>