.icon {
  height: 50px;
  width: 50px;
  display: block;
  margin: 2px;
}

#egg{
  background: url('/images/icons/eggIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#dairy{
  background: url('/images/icons/dairyIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
}
